/* Custom CSS Styles for Portfolio */

html {
   /* 1. Layar akan meluncur (slide) halus ke bagian bawah. */
  scroll-behavior: smooth;
}

/* 2. Simbol akan memiliki efek gradient dengan warna-warna yang ditentukan. */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* 3. Text akan memiliki efek gradient dengan warna-warna yang ditentukan. */
.gradient-text {
  background: linear-gradient(135deg, #a78bfa 0%, #f472b6 50%, #2dd4bf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 4. Background akan memiliki efek gradient dengan warna-warna yang ditentukan. */
.gradient-bg {
  background: linear-gradient(135deg, #a78bfa 0%, #f472b6 100%);
}
